/* Clement Gomes - CPAN-134-0NE */
/* Student ID: n10005987 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e5ecf4;
  color: #000;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

header {
  background: url("images/lighthouseisland.jpg") no-repeat center center;
  background-size: cover;
  height: 210px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 210px;
  object-fit: cover;
  z-index: -1;
}

header h1 {
  font-family: Georgia, serif;
  text-align: center;
  padding-top: 70px;
  font-size: 2.6rem;
  color: #090A61;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100%;
}

nav {
  width: 200px;
  background-color: #dbe7f1;
}

nav ul {
  list-style: none;
}

nav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav a {
  display: block;
  padding: 1em;
  background-color: #f5a9bc;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

nav a:hover {
  background-color: #ef8ca7;
}

main {
  background-color: white;
  padding: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  width: 100%;
}

.content h2 {
  color: #9DB6CE;
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

.content h3 {
  color: #9DB6CE;
  font-size: 1.1rem;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.image img {
  width: 250px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 2.1em;
}

footer {
  text-align: center;
  background-color: #7a95bd;
  color: #fff;
  padding: 1em;
  font-size: 0.9rem;
}

/* Tablet */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #B3C8E7;
    padding: 1em 0;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  nav li {
    border-bottom: none;
  }

  nav a {
    text-align: center;
    padding: 0.7em 1em;
    background-color: #E1B6C9;
    width: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  nav a:last-child {
    border-right: none;
  }

  main {
    grid-template-columns: 1fr;
    padding: 1.5em;
  }

  .image {
    text-align: center;
    margin-top: 1.5em;
  }
}

/* Mobile */
@media (max-width: 600px) {
  body {
    background-color: white;
  }

  nav {
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
    gap: 2px;
    padding: 0;
    margin: 0;
  }

  nav li {
    background-color: #b3c8e7;
  }

  nav a {
    width: 100%;
    padding: 1em;
    text-align: left;
    background-color: #b3c8e7;
  }

  main {
    grid-template-columns: 1fr;
    padding: 1.5em;
  }

  .image {
    text-align: center;
    margin-top: 1.5em;
  }
}
